.character-list{
text-align: center;
font-size: 15px;
font-style: initial;
color: black;
font-weight: inherit;

}


.search {
    width: 70%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100px;
    border: 2px solid #87F;
    border-right: none;
    padding: 5px;
    height: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    margin-left: 30px;
    
  }
  
  
  
  .searchButton {
    width: 50px;
    height: 24px;
    border: 1px solid #87F;
    background: #87F;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 1px 1px 1px #87F, 0 0 1em #87F, 0 0 0.2em #87F;
   
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 5%;
   margin-left: 50px;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
  }